[submodule "packages/rustybutter-avatar"]
	path = packages/rustybutter-avatar
	url = https://github.com/CodingButter/rustybutter-avatar.git
[submodule "packages/ABIDE"]
	path = packages/ABIDE
	url = https://github.com/CodingButter/ABIDE.git
[submodule "packages/elevenlabs-streaming"]
	path = packages/elevenlabs-streaming
	url = https://github.com/CodingButter/elevenlabs-streaming.git
[submodule "packages/pump-chat"]
	path = packages/pump-chat
	url = https://github.com/CodingButter/pump-chat.git
[submodule "packages/semantic-memory"]
	path = packages/semantic-memory
	url = https://github.com/CodingButter/semantic-memory.git
[submodule "packages/x-mcp"]
	path = packages/x-mcp
	url = https://github.com/CodingButter/x-mcp.git
