[submodule "packages/rustybutter-avatar"]
	path = packages/rustybutter-avatar
	url = https://github.com/mrrustybutter/rustybutter-avatar.git
[submodule "packages/ABIDE"]
	path = packages/ABIDE
	url = https://github.com/mrrustybutter/ABIDE.git
[submodule "packages/elevenlabs-streaming"]
	path = packages/elevenlabs-streaming
	url = https://github.com/mrrustybutter/elevenlabs-streaming.git
[submodule "packages/pump-chat"]
	path = packages/pump-chat
	url = https://github.com/mrrustybutter/pump-chat.git
[submodule "packages/semantic-memory"]
	path = packages/semantic-memory
	url = https://github.com/mrrustybutter/semantic-memory.git
[submodule "rusty-butter-website"]
	path = rusty-butter-website
	url = https://github.com/mrrustybutter/rusty-butter-website.git
[submodule "packages/discord-mcp"]
	path = packages/discord-mcp
	url = https://github.com/mrrustybutter/discord-mcp.git
